# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/TorrentTrader3.0/upload/backend/config.php
/TorrentTrader3.0/upload/backend/mysql.php
/TorrentTrader3.0/upload/check.php
/TorrentTrader3.0/upload/get-torrent-stats.php
TorrentTrader3.0/upload/trader-scrape.php